.detail-customer-invoice-screen {
  .card-header {
    color: #20a8d8;
  }
  .total-item {
    border-bottom: 1px solid #ccc;
  }
  .file-upload-cont {
    display: flex;
    button {
      margin-right: 10px !important;
    }
  }
  .disabled-cursor {
    cursor: not-allowed;
  }
}