.create-user-screen {
    .card-header {
      color: #20a8d8;
    }
    .password-msg {
      font-size: 0.7rem;
    }
  }
  .showButton , .showLabel{
    display: block;
  }
  .hideButton , .hideLabel{
    display: none;
  }
.inputShow {
    position: absolute;
    top: 35%;
    right: 7%;
  }
  