.detail-bank-transaction-screen {
  .card-header {
    color: #20a8d8;
  }
  .file-upload-cont {
    display: flex;
    button {
      margin-right: 10px !important;
    }
  }

  .view_details{
    .label {
      color: #9b9393;
    }
  }
}