.explain-transaction-modal {
  max-width: 50%!important;
  .modal-content {
    border-radius: 4px!important;
  }
  .modal-header {
    padding: 0.5rem;
   .modal-title {
    width: 100%;
    .text {
      display: flex;
      justify-content: space-between;
      }
    }
    .close-btn {
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .modal-body {
    .content-details {
      .label{
        font-size: 0.75rem;
        color: #9b9393;
        display: block;
        margin-bottom: 0.2rem;
      }
      .value{
        color: #23282c;
        display: block;
        font-size: 0.75rem;
      }
      .details-container{
        height: 310px;
        padding-right: 10px;
        overflow-y: auto;
        .detail-row {
          justify-content: space-between;
          .sub-container{
            display: flex;
            width: 100%;
          }
          .remove-row {
            width: 5%;
            display: flex;
          button {
            width: 100%;
            padding: 0;
            .fa-close {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: darkgray;
            }
          }
          }
        }
      }
    }
  }
}