.import-transaction-screen {
    .card-header {
        color: #20a8d8;
      }
      .btn-group {
        .btn {
          color: #ffffff !important;
        }
      }
      .badge {
        padding: 0.4em 0.6em;
        font-size: 90%;
      }
    fieldset {
        border: 1px solid #c8ced3!important;
        padding: 20px !important;
    }
    label {
  
      font-size: 1rem;
    //   font-weight: 500;
  }
    legend{
        width: inherit !important;
        padding: 10px !important;
        line-height: 0!important;
        margin-bottom: 0 !important;
    }
    .control {
        margin: 0 10px;
        label {
            margin: 10px;
        }
    }
    .other-field {
      display: flex;
      div{
        width: 50%!important;
      }
      // input {
      //   width: 50%!important;
      // }
    }
    .table_option {

        .form-group {
            display: flex!important;
        }
        // label {
        //     // width: 20%;
        // }
        // Input{
        //     // width: 50%!important;
        //   }
      .Select {
              width: 100% !important;
      }
      }
      .align-apply {
        // display: flex!important;
        align-self: flex-end!important;
        
      }
      .is-invalid {
          display: block;
          width: 100%;
          margin-top: 0.25rem;
          font-size: 1rem;
          color:#f86c6b;
      }
      .valid {
        display: none;
      }
      .invalid-select {
        border: 1px solid #f86c6b;
      }
}