.showButton , .showLabel{
    display: block;
  }
  .hideButton , .hideLabel{
    display: none;
  }
  .password-msg {
    font-size: 0.7rem;
  }
  .inputShow {
    position: absolute;
    top: 35%;
    right: 7%;
  }
  .inputShow:hover {
    color: #2064d8;
    cursor: pointer;
  }

  
  .password-icon {
    position: absolute;
    top: 41px;
    right: 41px;
    cursor: pointer;
    color: grey;
    }