.create-product-screen {
  .card-header {
    color: #20a8d8;
  }
  .productlabel {
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .wrapper {
    label {
      margin: 0px 10px;
    }
  }
  .secondary-info {
    background: #fbfafa;
    padding: 10px 0px;
  }
}
