.reset-password-screen{
  .register-header{
  border-bottom: 1px solid lightgray !important;
  i{
    display: flex!important;
    align-items: center;
    padding-right: 5px;
    font-size: 1.3rem;
    color: #1985ac;
  }
 h5{
  font-size: 1.3rem!important;
  color: #1985ac;
 }
}
.button-group{
  margin-bottom: 1rem;
  .submit-btn {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  .close-btn{
    border: 1px solid #20a8d8;
    border-radius: 5px;
    background: white;
    padding: 10px;
    color: #20a8d8;
  }
}
.password-msg{
  font-size: 0.7rem;
}
}